body{
    background-color: lightsteelblue;
}

.form{
    max-width: 400px;
    margin: auto;
    margin-top: 10%;
}

label{
    display: block;
    margin-bottom: 5px;
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.errorMsg{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.btn{
    width: 30%;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn:hover{
    background-color: green;
    cursor: pointer;
}

.profile{
    padding: 50px;
}

img{
    width: 300px;
    height: 300px;
    border: 2px solid white;
    border-radius: 10%;
}

.userDetail{
    border: 2px solid white;
    padding: 20px;
    border-radius: 5%;
}

